{% extends 'polls/base.html' %}
{% block content %}
<h2>{{ poll.question }}</h2>
{% if poll.deadline > now %}
    {% if user_can_vote %}
    <form method="post">
        {% csrf_token %}
        {% for choice in poll.choices.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
    {% else %}
    <p>You must be logged in to vote.</p>
    {% endif %}
{% else %}
<p>This poll has ended.</p>
{% endif %}
<a href="{% url 'results' poll.id %}">View Results</a>
{% endblock %}
